---
const { nome, tipo, valorDiario, diarias, valorTotal, cambio, capacidadeMalas, imagemCarro, iconCambio, iconMalas } = Astro.props;

import CarDate from "../data/carros.json";
import Image from "astro/components/Image.astro";
import ImgCarro from "/public/images/corolla.png";
import IconCambio from "/public/images/icone-transmissao.svg";
import IconMalas from "/public/images/icone-malas.svg";

---
<div class="pai">
    <div class="foto">
        <Image src={imagemCarro} 
            width={215}  
            height={180} 
            alt="Imagem de um carro" />
    </div>

    <div class="conteudo">
        <div class="cima">
            <div class="nome-carro">
                <h3>{nome}</h3>
                <p>{tipo}</p>
            </div>
            <div class="valor-diario">
                <h4>R$ {valorDiario},00</h4>
                <p>valor diário</p>
            </div>
            <div class="diarias">
                <h4>{diarias}</h4>
                <p>dia(s)</p>
            </div>
            <div class="valor-total">
                <h4>R$ {valorTotal},00</h4>
                <p>Valor total</p>
            </div>
        </div>

        <div class="baixo">
        
        <div class="detalhes">
            <div class="cambio">
                <Image src={IconCambio} alt="Icone cambio" />
                <p> {cambio} </p>
            </div>

            <div class="malas">
                <Image src={IconMalas} alt="Icone malas"/>
                <p> {capacidadeMalas} </p>
            </div>
        </div>

        <div class="reservar">
            <button> Reservar </button>
        </div>

        </div>
    </div>

</div>

<style lang="scss">
    .pai {
        display: flex;
        background-color: var(--colorWhite);
        font-family: var(--fontInter);
        border-radius: 8px;
        margin-bottom: 20px;
        padding: 20px;
        max-width: 850px;
        max-height: 180px;

        .foto {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .conteudo {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-right: 10px;
        }

        .cima {
            display: flex;
            justify-content: space-between;
            gap: 50px;
            margin-right: 30px;
            margin-left: 30px;
           

            .nome-carro {
                h3 {
                    font-size: 24px;
                    font-weight: 300;
                }

                p {
                    font-size: 16px;
                }
            }

            .valor-diario {
                h4 {
                    font-size: 24px;
                    font-weight: 300;
                }

                p {
                    font-size: 16px;
                }
            }

            .diarias {
                h4 {
                    font-size: 24px;
                    font-weight: 300;
                }

                p {
                    font-size: 16px;
                }
            }

            .valor-total {
                h4 {
                    font-size: 24px;
                    font-weight: 300;
                }

                p {
                    font-size: 16px;
                }
            }
        }

        .baixo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
            padding: 0px 0px 0px 30px;

            .detalhes {
                display: flex;
                gap: 30px;

                .cambio {
                    display: flex;
                    gap: 5px;

                }

                .malas {
                    display: flex;
                    gap: 5px;
                }
                
                p {
                    font-size: 12px;
                }
            }

            .reservar {
                button {
                    background-color: var(--colorYellow);
                    color: var(--colorblack);
                    font-size: 16px;
                    font-weight: 600;
                    width: 180px;
                    height: 48px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }

        }
    }

</style>